/* SalesforceAuthButton.css */

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

.auth-container {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  margin: auto;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0070d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px auto;
}

.auth-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.salesforce-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.terms {
  font-size: 12px;
  color: #555;
  margin-bottom: 20px;
}

.terms a {
  color: #0070d2;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.demo-button {
  background-color: transparent;
  border: 1px solid #0070d2;
  color: #0070d2;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.demo-button:hover {
  background-color: #0070d2;
  color: #fff;
}
